# ======================
# Large datasets (DO NOT PUSH)
# ======================
*.csv
*.zip
*.db

# ======================
# Python / ML
# ======================
__pycache__/
.ipynb_checkpoints/
*.pyc

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
dist-ssr
*.local

# ======================
# Environment files
# ======================
.env
.env.local

# ======================
# Editor / OS
# ======================
.vscode/
.idea/
.DS_Store
